<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="sunitha">

    <test verbose="4" preserve-order="true"  name="hello">
        <groups>
            <run>
                <include name="SmokeTest">

                </include>
            </run>
        </groups>
        <classes>
            <class name="com.practise4.Home_loan"></class>
            <class name="com.practise4.Car_loan"></class>
            <class name="com.practise4.Personal_loan"></class>


        </classes>
    </test>

</suite>