<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suni">
<test verbose="2" preserve-order="true"
name="testng">
<classes>
    <class name="com.practise2.test">
    <methods>
        <include name="car"/>
    </methods>
    </class>

</classes>
</test>
</suite>

